@page
@model AdasPet.Areas.Loja.Pages.Testes.CriarProdutosModel
@{
}

<form method="post" asp-route="CriarFornecedores">
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Criar Fornecedores</button>
    </div>
</form>

<form method="post">
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Criar Produtos</button>
    </div>
</form>