
@{
    ViewData["Title"] = "AlimentacaoCachorro";
}

<h1>Alimentação</h1>


    <div class="grid-container">



        @foreach (var item in AdasPet.Controllers.FrontSupport.Lista("Alimentacao", "Cachorro"))
        {
        <div class="grid-item">
            <div>
                <label>@item.Nome</label><br />
            </div>

            <div>
                <label>Marca: </label>
                <label>@item.Marca</label><br />
            </div>

            <div>
                <label>R$ </label>
                <label>@item.Preco</label><br />
            </div>

            <div>
                <label>Estoque: </label>
                <label>@item.QtdEmEstoque</label><br />
            </div>
            <div>
                <label>Precisa de Carro: </label>
                @if (item.PrecisaDeCarro)
                {
                    <label>Sim</label><br />

                }
                else
                {
                    <label>Não</label><br />

                }
            </div>
        </div>
        }




    </div>



