
@{
    ViewData["Title"] = "Pássaros";
}

<h1>Pássaros</h1>


<div>
    <button type="button" onclick="javascript: AlimentacaoPassaros()">Alimentação</button> <!--usa das funções JavaScript no evento de onclick para abrir a tela desejada-->
</div>

<div>
    <button type="button" onclick="javascript: AcessoriosEquipamentosPassaros()">Acessórios e Equipamentos</button> <!--usa das funções JavaScript no evento de onclick para abrir a tela desejada-->
</div>
<div>

    <button type="button" onclick="javascript: BrinquedosPassaros()">Brinquedos</button>
</div>
<div>
    <button type="button" onclick="javascript: FarmaciaPassaros()">Farmácia</button>
</div>


<script type="text/javascript">
    //usar sempre neste formato para criar codigos em javascript
    function AlimentacaoPassaros() { window.location.href = "AlimentacaoPassaros" } //função que redireciona para outra pagina
    function AcessoriosEquipamentosPassaros() { window.location.href = "AcessoriosEquipamentosPassaros" } //função que redireciona para outra pagina
    function BrinquedosPassaros() { window.location.href = "BrinquedosPassaros" } //função que redireciona para outra pagina
    function FarmáciaPassaros() { window.location.href = "FarmaciaPassaros" } //função que redireciona para outra pagina
</script>