
@{
    ViewData["Title"] = "Peixes";
}

<h1>Peixes</h1>
<div>
    <button type="button" onclick="javascript: AlimentacaoPeixes()">Alimentação</button> <!--usa das funções JavaScript no evento de onclick para abrir a tela desejada-->
</div>

<div>
    <button type="button" onclick="javascript: AcessoriosEquipamentosPeixes()">Acessórios e Equipamentos</button> <!--usa das funções JavaScript no evento de onclick para abrir a tela desejada-->
</div>
<div>
    <button type="button" onclick="javascript: FarmaciaPeixes()">Farmácia</button>
</div>


<script type="text/javascript">
    //usar sempre neste formato para criar codigos em javascript
    function AlimentacaoPeixes() { window.location.href = "AlimentacaoPeixes" } //função que redireciona para outra pagina
    function AcessoriosEquipamentosPeixes() { window.location.href = "AcessoriosEquipamentosPeixes" } //função que redireciona para outra pagina
    function FarmaciaPeixes() { window.location.href = "FarmaciaPeixes" } //função que redireciona para outra pagina

</script>
